# compiled output
consumer-service/dist
consumer-service/node_modules

listener-service/dist
listener-service/node_modules

producer-service/dist
producer-service/node_modules

# Logs
consumer-service/logs
consumer-service/*.log
consumer-service/npm-debug.log*
consumer-service/pnpm-debug.log*
consumer-service/yarn-debug.log*
consumer-service/yarn-error.log*
consumer-service/lerna-debug.log*

listener-service/logs
listener-service/*.log
listener-service/npm-debug.log*
listener-service/pnpm-debug.log*
listener-service/yarn-debug.log*
listener-service/yarn-error.log*
listener-service/lerna-debug.log*

producer-service/logs
producer-service/*.log
producer-service/npm-debug.log*
producer-service/pnpm-debug.log*
producer-service/yarn-debug.log*
producer-service/yarn-error.log*
producer-service/lerna-debug.log*

# OS
consumer-service/.DS_Store
listener-service/.DS_Store
producer-service/.DS_Store

# Tests
consumer-service/coverage
consumer-service/.nyc_output

listener-service/coverage
listener-service/.nyc_output

producer-service/coverage
producer-service/.nyc_output

# IDEs and editors
consumer-service/.idea
consumer-service/.project
consumer-service/.classpath
consumer-service/.c9/
consumer-service/*.launch
consumer-service/.settings/
consumer-service/*.sublime-workspace

listener-service/.idea
listener-service/.project
listener-service/.classpath
listener-service/.c9/
listener-service/*.launch
listener-service/.settings/
listener-service/*.sublime-workspace

producer-service/.idea
producer-service/.project
producer-service/.classpath
producer-service/.c9/
producer-service/*.launch
producer-service/.settings/
producer-service/*.sublime-workspace

# IDE - VSCode
consumer-service/.vscode/*
consumer-service/!.vscode/settings.json
consumer-service/!.vscode/tasks.json
consumer-service/!.vscode/launch.json
consumer-service/!.vscode/extensions.json

listener-service/.vscode/*
listener-service/!.vscode/settings.json
listener-service/!.vscode/tasks.json
listener-service/!.vscode/launch.json
listener-service/!.vscode/extensions.json

producer-service/.vscode/*
producer-service/!.vscode/settings.json
producer-service/!.vscode/tasks.json
producer-service/!.vscode/launch.json
producer-service/!.vscode/extensions.json
